body {
    color: white;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .slider-container {
        width: 100%;
        margin: 0;
    }
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    border-radius: 24px;
    margin: 5em;
    width: 700px;
    height: 500px;
}

@media screen and (max-width: 800px) {
    img {
        width: 100%;
        margin: 0;
    }
}

button {
    margin-top: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    border: 3px solid white;
    background-color: black;
    color: white;
}